#content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 25px;
    height: 800px;
}

#content-wrap p {
    margin-bottom: 10px;
}

#buttons-wrap {
    margin-top: 100px;
    font-size: 15px;
}

#buttons-wrap a {
    width: 80px;
    display: inline-block;
}