<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">

	<insert id="insertQna" parameterType="QnaVo">
	 <!-- 타이틀 넣기 -->
		INSERT INTO 
			TB_QNA(QNA_QUESTION, QNA_ANSWER, QNA_WRITER, QNA_TITLE)
		VALUES
			(#{qnaQuestion}, #{qnaAnswer}, #{qnaWriter}, #{qnaTitle})
	</insert>
	
	<update id="updateAnswer" parameterType="QnaVo">
		UPDATE TB_QNA 
			SET QNA_ANSWER=#{qnaAnswer}
			WHERE QNA_NO=#{qnaNo}
	</update>
	
	<select id="selectUserByQnaWriter" parameterType="string" resultType="QnaVo">	
		SELECT 
			* 
		FROM 
			TB_QNA
		WHERE 
			QNA_WRITER = #{qnaWriter}
	</select>
	
	<update id="updateQna" parameterType="QnaVo">
		UPDATE TB_QNA
			SET QNA_ANSWER=#{qnaAnswer}
			WHERE QNA_NO=#{qnaNo}
	</update>

	<select id="selectQnaByNo" parameterType="long" resultType="QnaVo">
		SELECT 
			QNA_NO, QNA_TITLE, QNA_WRITER, REG_DATE, QNA_ANSWER,  QNA_QUESTION
		FROM TB_QNA
		where
			qna_no = #{no}
	</select>


	<select id="listQna" parameterType="string" resultType="QnaVo">
		SELECT 
			QNA_NO, QNA_TITLE, QNA_WRITER, REG_DATE
		FROM TB_QNA
		ORDER BY REG_DATE DESC
	</select>
</mapper>