<!DOCTYPE html>
<!-- 타임리프로 동작 선언 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>TEST</h1>

    <div th:if="${session.user != null}">
        <div>ID : <span th:text="${session.user.userId}"></span></div>
        <div th:text="${session.user.admin}">  </div>
    </div>

</body>
</html>